<nav class=" Looop_navbar navbar  bg-white ">
  <div class=" Looop_nav_container container  ">
    <div class="row navbar_row">
      <div class="logo_header col-2  loop_nav_col ">
          <a routerLink="/landing">
            <img class="logo_img" src="assets/loop_icons/logo.png" alt="Logo">
          </a>
      </div>
  
      <div class=" col-10 loop_nav_col   text-right ">
            <span>
              <a class="active_link" routerLink="/landing" >
                <img class="nav_img" src="assets/loop_icons/home.png">
              </a>
            </span>
            <span>
              <a class="active_link"(click)="logOff()">
                <img class="nav_img" src="assets/loop_icons/exit.png">
              </a>
            </span>
            <span>
              <span  ngbDropdown #myDrop="ngbDropdown" placement="bottom">
              <a class="active_link" id="dropdownManual" ngbDropdownAnchor (click)="toggleDropDown(myDrop)" >
                <img *ngIf="notifications.length == 0" class="nav_img" src="assets/loop_icons/bell_empty.png">
                <img *ngIf="notifications.length != 0 " class="nav_img" src="assets/loop_icons/bell.png">
              </a>
              <div class="" ngbDropdownMenu aria-labelledby="dropdownManual" class="profile_dropdown">
                <app-notifications [notifications] = "notifications" (notice_event)="showNotice($event)" ></app-notifications>
              </div>
            </span>
          </span>
            <span>
              <a class="active_link"  routerLink="/profile" >
                <app-tag  [element_class]="'nav_img_round'"  [tag]="profile?.username" [profilePicture] = "profile?.profilePicture"></app-tag>
              </a>
            </span> 
      </div>
    </div>
  </div>
</nav>




