
<div *ngIf="!hidden; else sidebar" >
  <nav class=" loop_navbar navbar  bg-white sm_reduce_padding_right ">
    <div class=" loop_nav_container container sm_reduce_padding_right ">
      <div class="row navbar_row">
        <div class="logo_header col-2  loop_nav_col ">
            <a routerLink="/landing">
              <img class="logo_img" src="assets/loop_icons/logo.png" alt="Logo">
            </a>
        </div>
    
        <div  class=" col-10 loop_nav_col   text-right ">
              <span>
                <a class="active_link" routerLink="/landing" >
                  <img class="nav_img" src="assets/loop_icons/home.png">
                </a>
              </span>
              <span>
                <a class="active_link"(click)="logOff()">
                  <img class="nav_img" src="assets/loop_icons/exit.png">
                </a>
              </span>
              <span>
                <span  ngbDropdown #myDrop="ngbDropdown" placement="bottom">
                <a class="active_link" id="dropdownManual" ngbDropdownAnchor (click)="toggleDropDown(myDrop)" >
                  <img *ngIf="notifications.length == 0" class="nav_img" src="assets/loop_icons/bell_empty.png">
                  <img *ngIf="notifications.length != 0 " class="nav_img" src="assets/loop_icons/bell.png">
                </a>
                <div class="" ngbDropdownMenu aria-labelledby="dropdownManual" class="profile_dropdown">
                  <app-notifications [notifications] = "notifications" (notice_event)="showNotice($event)" ></app-notifications>
                </div>
              </span>
            </span>
              <span>
                <a class="active_link"  routerLink="/profile" >
                  <app-tag  [element_class]="'nav_img_round'"  [tag]="profile?.username" [profilePicture] = "profile?.profilePicture"></app-tag>
                </a>
              </span> 
            </div>
      </div>
    </div>
  </nav>
  <router-outlet (activate)="onActivate($event)"></router-outlet>  
</div>






<ng-template #sidebar>
  <mat-sidenav-container >
    <mat-sidenav #sidenav mode="push">
     <mat-toolbar color="primary">
      <a class="active_link"  routerLink="/setting" >
        <app-tag  [element_class]="'nav_img_round'"  [tag]="profile?.username" [profilePicture] = "profile?.profilePicture"></app-tag>
      </a>
     </mat-toolbar>
     <mat-nav-list>
      <a mat-list-item routerLink="/landing" >
        <legend>Home</legend>
        <img class="nav_img" src="assets/loop_icons/home.png">
      </a>
      <a mat-list-item (click)="logOff()" >
        <legend>Log Off</legend>
        <img class="nav_img" src="assets/loop_icons/exit.png"> 
      </a>
      <a mat-list-item routerLink="/activities" >
        <legend> Activities</legend>
        <img class="nav_img" src="assets/loop_icons/activities.png">
      </a>
      <app-footer  [class]="'sm_footer_sidenav'"></app-footer>
     </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="row">
        <a (click)="toggle(sidenav)" class="active_link col-4">
            <img class="nav_img" src="assets/loop_icons/hamburger.png">
        </a>
        <a class="col-4 text-center " routerLink="/landing">
          <img class="logo_img" src="assets/loop_icons/logo.png" alt="Logo">
        </a>
        <div class="col-4 text-right">
          
        <span  ngbDropdown #notice="ngbDropdown" placement="bottom" >
          <a class="active_link" id="dropdownManual" ngbDropdownAnchor (click)="toggleDropDown(notice)" >
            <img *ngIf="notifications.length == 0" class="nav_img" src="assets/loop_icons/bell_empty.png">
            <img *ngIf="notifications.length != 0 " class="nav_img" src="assets/loop_icons/bell.png">
          </a>
          
          <div class="" ngbDropdownMenu aria-labelledby="dropdownManual" class="profile_dropdown">
            <app-notifications [notifications] = "notifications" (notice_event)="showNotice($event)" ></app-notifications>
          </div>
        </span>

        <span  ngbDropdown #trending="ngbDropdown" placement="bottom" >
            <a class="active_link" id="dropdownManual" ngbDropdownAnchor (click)="toggleDropDown(trending)" >
              <img class="nav_img" src="assets/loop_icons/trending.png">
            </a>
          
          <div class="" ngbDropdownMenu aria-labelledby="dropdownManual" class="profile_dropdown">
            <app-trending   (idea_event)="showIdea($event)" ></app-trending>
          </div>
        </span>
        </div>
      </div>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>




