<div class="card live_Looop_card live_center ">
  <div class="card-header Looop_card_header">
    <div class="cards-title">
      <div class="row">
        <div class="col-6">User: {{idea.creator.username}} </div>
        <div class="col-6 text-right">{{idea.timestamp | dateago}}</div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
  <div class=" card-body Looop_card_body">
    <div class="card-subtitle mb-2 text-muted "> {{idea.title}}</div>
    <p class=" card-text ">{{idea.description}}</p>
  </div>
  <div class="card-footer text-muted Looop_card_footer ">
    <div class="row">
       <a class="col-4" (click)="vote('UP')" >UVotes:{{upVotes}}</a>
       <a  class="col-4 text-center" (click)="showRetort()"> {{idea.retorts.length}} retorts</a>
       <a class="col-4 text-right" (click)="vote('DOWN')" >DVotes:{{downVotes}}</a> 
    </div>
      <div *ngIf="expan">  
        <div   *ngFor="let retort of sortedRetorts">
          <app-retort-card id="retort_{{retort.id}}"  [username]="username" (messageEvent)="messageEvent($event)" [idea_id]="idea.id" [retort]="retort"></app-retort-card>
        </div>
      </div>
        <form class="row"  role="form" [formGroup]="retortForm" (ngSubmit)=submit()>
         <div class="col-9 ">
          <textarea formControlName="retort" class="form-control Looop-textarea" rows="1" placeholder="Write a retort..."   type="text" (focus)="focus1=true" (blur)="focus1=false"></textarea>
         </div>
         <div class="col-3">  
          <button type="submit">Retort</button>
         </div>
        </form>
  </div>
</div>
