<div class="card live_Looop_card live_center ">
  <div class="card-header Looop_card_header">
    <div class="cards-title">
      <div class="row">
        <div class="col-2"> 
          <app-tag [tag]="profile.username" [time]="idea.timestamp" [profilePicture] = "profile.profilePicture"></app-tag>
           </div>

        <div *ngIf="username == idea.creator.username" class="col-10 text-right" ngbDropdown #myDrop="ngbDropdown" placement="left">   
          <app-idea-modal [idea]="idea" (idea_event)="updateIdea($event)"></app-idea-modal>
          <button class="drop_down_Looop" type="button"    id="dropdownManual" ngbDropdownAnchor  (click)="toggleDropDown(myDrop)">
            Update
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual" class="profile_dropdown">
            <button class="drop_down_button" (click)="showEdit()" ngbDropdownItem>Edit</button>
            <button class="drop_down_button" (click)="delete()" ngbDropdownItem>Delete</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class=" card-body Looop_card_body">
    <div class="card-subtitle mb-2 text-muted "> {{idea.title}}</div>
    <p class=" card-text ">{{idea.description}}</p>
    
    <div *ngIf="username!=idea.creator.username" class=" row-justify-content-center text-center">
      <a class="col-1"  *ngFor=" let type of types" (click)="vote(type)">
        <small>{{type}}</small>
      </a>
    </div>
  </div>
  <div class="card-footer text-muted Looop_card_footer ">
    <div class="row">
       <div  class="col-6" >
          <div *ngIf="rating; else notRated">
            Rating:{{rating}}
          </div>
          <ng-template #notRated>
            Not Yet Rated
          </ng-template>
       </div>
       <a  class="col-6 text-right" (click)="showRetort()"> {{idea.retorts.length}} retorts</a>
    </div>
      <div *ngIf="expan">  
        <div   *ngFor="let retort of sortedRetorts">
          <app-retort-card id="retort_{{retort.id}}"  [username]="username" (messageEvent)="messageEvent($event)" [idea_id]="idea.id" [retort]="retort"></app-retort-card>
        </div>
      </div>
        <form class="row"  role="form" [formGroup]="retortForm" (ngSubmit)=submit()>
         <div class="col-9 ">
          <textarea formControlName="retort" class="form-control Looop-textarea" rows="1" placeholder="Write a retort..."   type="text" (focus)="focus1=true" (blur)="focus1=false"></textarea>
         </div>
         <div class="col-3">  
          <button class="loop_button" type="submit">Retort</button>
         </div>
        </form>
  </div>
</div>
