<div class="card live_loop_card live_center ">
  <div class="card-header loop_card_header">
    <div class="">
      <div class="row">
        <div class="col-6"> 
          <app-tag [element_class]="'content_img_round'" [tag]="idea.creator.username" [time]="idea.timestamp" [profilePicture] = "idea.creator.profilePicture"></app-tag>
          </div>

        <div *ngIf="username == idea.creator.username" class="col-6  text-right" ngbDropdown #myDrop="ngbDropdown" placement="left">   
          <app-idea-modal [idea]="idea" (idea_event)="updateIdea($event)"></app-idea-modal>
            <a (click)="showEdit()" >
              <span class="material-icons icon">
                edit
              </span>
            </a>
            <a (click)="delete()">
                <span class="material-icons icon">
                  delete
                </span>
            </a>
        </div>

      </div>
    </div>
  </div>
  <div class=" card-body loop_card_body">
    <div class="card-subtitle mb-2 user_content "> {{idea.title}}</div>
    <div class="text-center">
      <app-bit-content *ngIf="idea.content" [type]="idea.content_type" [src]="render_content"></app-bit-content>
    </div>
    <p class=" card-text user_content ">{{render_newlines(idea.description)}}</p>
    
    <div *ngIf="username!=idea.creator.username" class=" row-justify-content-center text-center">
      <a class="col-1"  *ngFor=" let type of types" (click)="vote(type.name)" placement="top" ngbTooltip="{{type.name | titlecase}}" >
        <app-icon [type]="'loop_icon_large'"  [preference]= "type"></app-icon>
      </a>
    </div>
    <div class="row">
      <div  class="col-6" >
         <div *ngIf="rating; else notRated">
          <app-icon placement="top" ngbTooltip="Avgerage rating" [type]="'loop_icon_small'" [preference]= "rating"></app-icon><small class="cate_tag">{{rating.num | number : '1.1-2' }}</small>
         </div>
         <ng-template #notRated>
           Not Yet Rated
         </ng-template>
      </div>
      <a  class="col-6 text-right" (click)="showRetort()"> {{idea.retorts.length}} retorts</a>
   </div>
  </div>
  <div class="card-footer  loop_card_footer ">
      <div [hidden]="!expan">  
        <div   *ngFor="let retort of sortedRetorts">
          <app-retort-card id="retort_{{retort.id}}"  [username]="username" (messageEvent)="messageEvent($event)" [idea_id]="idea.id" [retort]="retort"></app-retort-card>
        </div>
      </div>
        <form class="row"  role="form" [formGroup]="retortForm" (ngSubmit)=submit()>
         <div class="col-12 ">
          <textarea formControlName="retort" class="form-control textarea" rows="1" placeholder="Write a retort..."   type="text" (focus)="focus1=true" (blur)="focus1=false"></textarea>
         </div>
         <div class=" offset-11 col-1  textarea_icon_container  ">
          <a   (click)=submit()>
            <span class="material-icons textarea_icon ">
              message
              </span>
          </a>
         </div>
         
        </form>
  </div>
</div>
