<div class="container">
  <div class="row">
    <div class="col-2 Looop_col">
      <app-activities ></app-activities>
    </div>
    <div class="col-6 Looop_col row ideas_body">
      <div class="col-12">
        <app-share-idea (idea_event) ="addIdea($event)" (alert_ticket)="alerty($event)" [profile]=" profile"></app-share-idea>
      </div>
      <div class="col-12">
        <app-content [ideas]="ideas " (alert_ticket)="alerty($event)" [profile]=" profile  "></app-content>
      </div>
    </div>
    <div class="col-4 Looop_col">
      <app-trending></app-trending>
      <app-notifications [notifications] = "notifications " (notice_event)="showNotice($event)" ></app-notifications>
    </div>
  </div>
</div>
<app-alert></app-alert>