<form #share_idea role="form" [formGroup]="ideaForm" (ngSubmit)=createIdea()>

        <div class="card live_Looop_card live_center ">
            <div class="card-header Looop_card_header">
            <div class="cards-title">
                <div class="row">
                        <strong class="col-10">Have An Idea?</strong>
                        <div class="col-2  text-right ">
                                <a (click)="createIdea()"  placement="bottom" ngbTooltip="Share" >      
                                    <img class="img_icon" src="assets/loop_icons/share.png">
                                </a>
                        </div>
                </div>
            </div>
            </div>

            <div class=" card-body Looop_card_body">
            <div class="card-subtitle mb-2">
                <fieldset>
                    <input onkeydown="return event.key != 'Enter';" formControlName="title" class="Looop-textarea form-control user_content" placeholder="Title of Your Idea..."  type="text" (focus)="focus1=true" (blur)="focus1=false">
                </fieldset>
            </div>
            <div class=" row">
                  <div class="col-12 ">
                    <textarea placeholder="Description..."  formControlName="description" class="Looop-textarea form-control user_content" (focus)="focus1=true" (blur)="focus1=false"  rows="1"></textarea>
                   </div>
                   <div class=" offset-11 col-1  textarea_icon_container  ">
                    <input hidden class="loop_target_input" type="file" (change)="fileChangeEvent($event)"  accept="image/*"/>
                    <a class="loop_button_upload " >
                        <span class="material-icons textarea_icon ">
                            attach_file
                        </span>
                    </a>
                   </div>
            </div>
            <div class="row">       
                <div class="col-6"  *ngFor="let cate of categories.value; let i =index">
                    <input [formControl]="cate" class="check_box" id="{{focuses[i].name}}" type="checkbox" unchecked>
                    <label for="{{focuses[i].name}}">
                        <app-icon [type]="'loop_icon_small'"  [preference]= "focuses[i]"></app-icon>
                        <small> {{focuses[i].name}}</small>
                    </label>
                </div> 
            </div>
        </div>

        </div>
</form>

