<nav class=" Looop_navbar navbar navbar-expand-lg bg-white ">
  <div class="Looop_container Looop_nav_container container ">
    <div class="logo_header col-2 row Looop_nav_col ">
      <div class="col-6">
        <a  routerLink="/landing">
          <img class="logo_img" src="assets/loop_icons/logo.png" alt="Logo">
        </a>
      </div>
    </div>
      <form [formGroup]="loginForm" (ngSubmit)=Login() class=" login_form row col-6 " >
          <div class=" col-4  login_root">
              <div class="   ">
                  <input formControlName="username" type="text" placeholder="Username" class="form-control Looop-textarea" />
              </div>
          </div>
        <div class=" col-4 ">
                <div class=" ">
                    <input formControlName="password" type="password" placeholder="Password" class="form-control Looop-textarea" />
                </div>
        </div>
        <div class="col-4 ">
                <button  class="loop_button" placement="top" ngbTooltip="Sign Up" 
                         type="submit">
                       Login
                </button>
        </div>
      </form>
  </div>
</nav>
