<nav class=" loop_navbar navbar navbar-expand-lg bg-white ">
  <div class="container loop_nav_container ">
    <div class="logo_header col-lg-6 col-sm-12  loop_nav_col sm_reduce_padding_right  ">
      <div class="col-lg-7 col-sm-12 sm_center sm_reduce_padding_right loop_nav_col">
        <a  routerLink="/landing">
          <img class="logo_img" src="assets/loop_icons/logo.png" alt="Logo">
        </a>
      </div>
    </div>
    <div *ngIf="!hidden" class=" col-lg-6">
      <app-log (alert_ticket)="notify($event)"></app-log>
    </div>
  </div>
</nav>
