<div class="row profile-setting Looop_underline">

  <div class="col-4 row " id="profilePicture">

  <a (click)="openUploadModal()">
    <div *ngIf="profile?.profilePicture  != null ; else stock">
        <img placement="right" ngbTooltip="Change Profile Pictue" [src]="render_profile" class="Looop_big_profile">
    </div>
      
    <ng-template #stock>
      <span placement="right" ngbTooltip="Change Profile Pictue" class="material-icons profile-pic">
        account_circle
      </span>
    </ng-template>
  </a>
  <span class="caption">{{profile?.username |uppercase}}</span>

  </div>

<div class="col-8 row">
    <div class="col-12">
      <div class="card">
        <a (click)="toggle('preference')" class="card-header" placement="right" ngbTooltip="Change Preferences">
           Preference
        </a>
        <form  role="form" [formGroup]="preForm" (ngSubmit)=updatePreference()>
          <div *ngIf="pre_open">
              <div class="row card-body">  
                <div class="col-4"  *ngFor="let cate of categories?.value; let i =index">
                    <input [formControl]="cate"  id={{focuses[i].name}} type="checkbox" unchecked>
                    <small>{{focuses[i].name}}</small>
                </div>
                  <div class="col-12 text-right">
                    <button type="submmit">Update</button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div> 
  
</div>

<app-upload-image-modal [profile]="profile"></app-upload-image-modal>