<div class="row profile-setting underline sm_undo_underline loop_col sm_landscape_height">

  <div class="col-lg-4 col-sm-12 row " id="profilePicture">
    <div class="col-5 ">
      <a (click)="openModal('img')">
        <app-tag [profilePicture] = "profile?.profilePicture"></app-tag>
      </a>
      <span class="caption loop_edit ">{{profile?.username}}
        <a (click)="openModal('USERNAME')"> 
          <span class="material-icons icon">
            edit
          </span>
        </a>
      </span>
    </div>
  </div>

  <div class="col-lg-4 col-sm-12 row">
    <div class="col-12">
      <div class="card">
        <a (click)="openCard('contact')" class="card-header" placement="bottom" ngbTooltip="Update Contact Info">
          Contact
        </a>
        <div *ngIf="contact_open" class="card-body">
          <div class="loop_edit">{{profile?.firstName |titlecase}}
            <a (click)="openModal('FIRSTNAME')"> 
              <span class="material-icons icon">
                edit
              </span>
            </a>
          </div>
          <div class="loop_edit">{{profile?.lastName |titlecase}}
            <a (click)="openModal('LASTNAME')"> 
              <span class="material-icons icon">
                edit
              </span>
            </a>
          </div>
        </div>
    </div>
    </div>
    <div class="col-12">
      <div class="card">
        <a (click)="openCard('account')"  class="card-header" placement="bottom" ngbTooltip="Update Account Info">
          Account
        </a>
        
        <div *ngIf="account_open" class="card-body">
          <div class="loop_edit">{{profile?.email }}
            <a (click)="openModal('EMAIL')"> 
              <span class="material-icons icon">
                edit
              </span>
            </a>
          </div>
          <a class="" (click)="openModal('PASSWORD')">Change Password</a>
        </div>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-12 row">
    <div class="col-12">
      <div class="card">
        <a (click)="toggle('preference')" class="card-header" placement="right" ngbTooltip="Update Preferences">
           Preference
        </a>
        <form  role="form" [formGroup]="preForm" (ngSubmit)=updatePreference()>
          <div *ngIf="pre_open">
              <div class="row card-body">  
                <div class="col-2"  *ngFor="let cate of categories?.value; let i =index">
                    <input [formControl]="cate"  class="check_box"  id="{{focuses[i].name}}" type="checkbox" unchecked>
                    <label for="{{focuses[i].name}}">
                      <app-icon [type]="'loop_icon_large'"  placement="bottom" ngbTooltip="{{focuses[i].name}}" [preference]= "focuses[i]"></app-icon>
                  </label>
                </div>
                  <div class="col-12 text-right">
                    <button class="loop_button" type="submmit">Update</button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div> 
  
</div>

<app-upload-image-modal [profile]="profile"></app-upload-image-modal>
<app-update-modal (alert_ticket)="alerty($event)"  [profile]="profile" ></app-update-modal>