<div class="row Looop_underline">

  <div class="col-4 row " id="profilePicture">

  <a class="col-12 row " (click)="openUploadModal()">
    <div *ngIf="profile?.profilePicture  != null ; else stock">
        <img placement="right" ngbTooltip="Change Profile Pictue" [src]="render_profile" class="Looop_big_profile">
    </div>
      
    <ng-template #stock>
      <span placement="right" ngbTooltip="Change Profile Pictue" class="material-icons profile-pic">
        account_circle
      </span>
    </ng-template>
  </a>

  <div class="col-12 row justify-content-center " >
      <span  placement="right" ngbTooltip="Change Username" class="caption">{{profile?.username |uppercase}}</span>
  </div>
  </div>
  
  <div class="col-8">
    other shits
  </div>
  
</div>

<app-upload-image-modal [profile]="profile"></app-upload-image-modal>