
    
    <app-pill (expan)="showComment($event)" [idea_id] = "idea_id" [username]= "username" [data]= retort [type]="type"></app-pill>
      <div [hidden]="!expan" class="offset-1 col-11  Looop_expansion_panel">
        <div  *ngFor="let msg of sortedMessages">
          <app-message-card [idea_id] = "idea_id" [retort_id] = "retort.id" [username]="username" id="{{msg.id}}" [message]="msg"></app-message-card>
        </div>
      </div>

      <form [hidden]="!expan" role="form" [formGroup]="messageForm" (ngSubmit)=submit()>
        <div class="row">
          <div class=" offset-md-3 col-md-8">
            <textarea formControlName="message" class="Looop-textarea form-control" rows="1" placeholder="Write a comment..."   type="text" (focus)="focus1=true" (blur)="focus1=false"></textarea>
        </div>
        <div class=" offset-10 col-2  textarea_icon_container  ">
          <a (click)=submit()>
            <span class="material-icons textarea_icon">
              add_comment
              </span>
            </a>
        </div>
        
        </div>
      </form>