<div class="layout sm_landscape_height_adjusted ">
    <app-login-navbar (alert_ticket)="notify($event)"></app-login-navbar> 
    <div class="container ">
        <div class="row"> 
            
            <div class=" col-lg-6 col-sm-12">
                <app-welcome></app-welcome>
            </div>
            <div class=" col-lg-6 col-sm-12 ">
                <app-signup *ngIf="!hidden; else log_or_sign" (alert_ticket)="notify($event)"></app-signup>
                <ng-template #log_or_sign>
                    <app-log-or-sign-in (alert_ticket)="notify($event)"></app-log-or-sign-in>
                </ng-template>
            </div>
        </div>
    </div>
<app-alert></app-alert>
</div>
