<legend class="Looop_underline">Filters</legend>
<ul class="Looop_li_filter" >
  <li  *ngFor="let foc of focuses">
    <a *ngIf="current == foc.name; else non" class="hl_current" (click)="filterIdea(foc.name)">
      <app-icon [preference]= "foc"  [type]="'loop_icon_small'"></app-icon><small class=" cate_tag">{{foc.name}}</small>
    </a>
    <ng-template #non>
      <a (click)="filterIdea(foc.name)">
        <app-icon [preference]= "foc"  [type]="'loop_icon_small'"></app-icon> <small class="cate_tag">{{foc.name}}</small>
      </a>
    </ng-template>
  </li>
</ul>