

<div class="container">
    <app-profile-settings (alert_ticket)="alerty($event)" [profile]="profile"></app-profile-settings>
  <div class="row">
    <div class="col-2 Looop_col">
      <!-- <app-activities (ideaFilter)="ideaFilter($event)" ></app-activities> -->
    </div>
    <div class="col-6 Looop_col row ideas_body">
      <div class="col-12 text-center">
        <!-- <app-content [filter] ="filter" [ideas]="ideas" (alert_ticket)="alerty($event)" [profile]=" profile  "></app-content> -->
      </div>
    </div>
    <app-alert></app-alert>
  </div>
</div>