<div class="row" *ngIf="profilePicture  != null ; else stock">
    <div class=" col-11">
      <img   [src]="render_profile" class="Looop_big_profile">
    </div>
    <span class=" col-1 row icon_col ">
      
      <div class="col-12 row">
          <small>{{tag}}</small>
          <div class="col-12 row">
            <small>{{time | dateago}}</small>
        </div>
      </div>
      </span>
  </div>
  
  <ng-template #stock> 
    <div class="row">
      <div class=" col-11">
        <span *ngIf="nav==true" class="material-icons navbar_icon">
          account_circle
        </span>
        <span *ngIf="!nav" class="material-icons tag_icon">
          account_circle
        </span>
      </div>
      <span class=" col-1 row icon_col ">
        
        <div class="col-12 row">
            <small>{{tag}}</small>
            <div class="col-12 row">
              <small>{{time | dateago}}</small>
          </div>
        </div>
        </span>
    </div>

  </ng-template>
