<span  *ngIf="profilePicture  != null ; else stock">
      <img   [src]="render_profile" [class]="element_class">
      <span *ngIf="tag !=null">
            <small> 
                  {{tag}} &#8226; {{time | dateago}} 
            </small>
      </span> 
</span>
  
  <ng-template #stock> 
  <span>
      <img [class]="element_class" src="assets/loop_icons/stock.png">
      <span *ngIf="tag !=null">
            <small> 
                  {{tag}} &#8226; {{time | dateago}} 
            </small>
      </span> 
  </span>

  </ng-template>
