
<div class="layout ">
  <app-layout-navbar (idea_event)="addIdea($event)" (alert_ticket)="alerty($event)" [profile]=" profile | async "></app-layout-navbar>
    <div class="container">
      <div class="row">
        <div class="col-2 Looop_col">
          <app-activities ></app-activities>
        </div>
        <div class="col-6 Looop_col">
          <app-content [ideas]="ideas_obs |async" (alert_ticket)="alerty($event)" [profile]=" profile | async "></app-content>
        </div>
        <div class="col-4 Looop_col">
          <app-trending></app-trending>
          <app-notifications [notifications] = "notifications | async" (notice_event)="showNotice($event)" ></app-notifications>
        </div>
      </div>
    </div>
    
  <app-alert></app-alert>
  </div>
