<form  [formGroup]="loginForm" (ngSubmit)=Login() class="col-12 row">
  <div class=" col-4 ">
          <input formControlName="username" type="text" placeholder="Username" class="form-control textarea" />
      
  </div>
<div class=" col-4 ">
            <input formControlName="password" type="password" placeholder="Password" class="form-control textarea" />
        
</div>
<div class="col-4 ">
        <button  class="loop_button" placement="top" ngbTooltip="Sign Up" 
                 type="submit">
               Login
        </button>
</div>
</form>