<div class="pill row">

  <div class="col-2 pill-info">
    <app-tag  [profilePicture] = "data.creator.profilePicture"></app-tag>
  </div>
  

  <div class=" col-9 pill-content card message_badge">
    <div class="row">
      <div class="col-6">
        <small class="badge_caption">
          {{data.creator.username}} &#8226; {{data.timestamp|dateago}}
        </small>
      </div>
        <div class="col-6 text-right" *ngIf="username == data.creator.username">
        <a  (click)="showEdit()">
          <span class="material-icons icon">
            edit
            </span>
        </a>
        <a  (click)="delete()" >
          <span class="material-icons icon">
            delete
            </span>
        </a>
      </div>
    </div>
    <div class="user_content" *ngIf="!writeable">
          {{data.content}}
    </div>

    <div [hidden]="!writeable">
      <form  role="form" [formGroup]="pillForm" (ngSubmit)=submit()>
        <textarea formControlName="contentVal" class=" textarea form-control" row="4" type="text" (focus)="focus1=true" (blur)="focus1=false"></textarea>
        <a (click)=" showEdit()">
          <span class="material-icons icon">
            backspace
            </span>
        </a>
        <a (click)=" submit()">
          <span class="material-icons icon">
            check_circle
            </span>
        </a>
      </form>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <a *ngIf="data?.messages" (click)="expand()">{{data.messages.length}} comments</a>
      </div>
    </div>
    
  </div>

  

</div>
