<div class="pill row">

  <div class="col-2 pill-info">
    <app-tag  [profilePicture] = "data.creator.profilePicture"></app-tag>
  </div>
  

  <div class=" col-9 pill-content card message_badge">
    <div class="badge_caption">
      {{data.creator.username}} {{data.timestamp|dateago}}
    </div>
    <div  *ngIf="!writeable; else write">
          {{data.content}}
    </div>

    <ng-template #write>
      <form  role="form" [formGroup]="pillForm" (ngSubmit)=submit()>
        <textarea formControlName="contentVal" class="form-control Looop-textarea"  type="text" (focus)="focus1=true" (blur)="focus1=false"></textarea>
        <a (click)="submit()">
          <span class="material-icons icon">
            check
            </span>
        </a>
        <a (click)="showEdit()">
          <span class="material-icons icon">
            clear
            </span>
        </a>
      </form>
    </ng-template>


    <div class="row">
      <div class="col-6">
        <a *ngIf="data?.messages" (click)="expand()">{{data.messages.length}} comments</a>
      </div>
        <div class="col-6 text-right" *ngIf="username == data.creator.username">
        <a  (click)="showEdit()">
          <span class="material-icons icon">
            edit
            </span>
        </a>
        <a  (click)="delete()" >
          <span class="material-icons icon">
            delete
            </span>
        </a>
      </div>
    </div>
  </div>

  

</div>
