<div class="modal">
  <ng-template #classic1 let-c="close" let-d="dismiss">
    <strong class="modal-title">Upload Profile Picture ~ {{message |titlecase}}</strong>
    <div class="modal-content upload_modal">
      <div class="modal-body ">
              
             <div class="row">
               <div class="col-12 text-center">
                  <input hidden class="loop_target_input" type="file" (change)="fileChangeEvent($event)"  accept="image/*"/>
                  <button class="loop_button_upload loop_button" >Upload Picture</button>
               </div>
               <div class="col-12 cropper">
                  <image-cropper 
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]=" 1/1"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"
                  [roundCropper] = true
                  [hideResizeSquares] = true
                  [cropperMinWidth] = size
                  [resizeToWidth] = size
                  ></image-cropper>
               </div>
               <div class="offset-2 col-8 text-center ">  
                  <img class="col_fit_profile_pic" [src]="croppedImage">
               </div>
               <div class="col-12 row reduce_padding_right">
                 <div class=" col-6">
                  <a (click)="cancel()">
                    <span class="material-icons loop_button_icon">
                      backspace
                      </span>
                  </a>
                 </div>
                 <div class=" col-6 text-right reduce_padding_right">
                  <a  (click)="upload()">
                    <span class="material-icons loop_button_icon">
                      check_circle
                      </span>
                    </a>
                 </div>
               </div>
             </div>
      </div>
    </div>
  </ng-template>
</div>