<form [formGroup]="signupform" (ngSubmit)=signUp() class=" row justify-content-center col-12 " >
  <div class="col-12  signup_input ">
              <input formControlName="firstname" type="text" placeholder="First Name" class=" " />
  </div>
  <div class="col-12   signup_input">
        <input formControlName="lastname" type="text" placeholder="Last Name " class=" " />
</div>
  <div class="col-12  signup_input">
              <input formControlName="email"type="text" placeholder="Email" class=" " />
  </div>
  <div class="col-12  signup_input">
              <input formControlName="password" type="password" placeholder="Password" class=" " />
  </div>
  <div class="col-12  signup_input">
        <input formControlName="username" type="text" placeholder="Username" class=" " />
</div>
  <div class="col-12 signup_input">
          <button  placement="top" ngbTooltip="Sign Up" 
                  class="loop_btn_primary" type="submit">
                  Sign Up
          </button>
  </div>
</form>