
$navbar-height : 5vh;
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $gray-200; 
  }
   
.layout{
     background-color: $gray-100;
     height: 100%;
     width: 100%;
     font-size:  $standard_size !important;
     color: $gray-600;
}
.loop_nav_col{
    padding: 0 !important ;
}

.Looop_navbar{
    border-bottom: .01vh solid $gray-300;
}

.Looop_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;
    margin-top: 1vw;
    margin-right: 0;
}
 .login_form, .signup_input, .login_root {
    padding-left:0 !important; 
}

.logo_title{
    font-size: $standard_size*1.5!important;
}
.idea_modal{
    height: 15% !important;
}

.ideas_body{
   overflow-y: scroll;
   height: 90vh;
}
.Looop_card
{
    margin-bottom: 2.5vh;
}

.Looop_card_header,.Looop_card_footer{
    background-color: $white !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
}
.Looop_expansion_panel{
    box-sizing: inherit !important;
}
.live_Looop_card{
    min-height: 25%;
    max-height: 25%;
    
    margin-bottom: 10%;
}

.live_center{
    margin-left: 5%;
    margin-right: 5%;
    max-height: 100% !important;
}
.act_right{

    overflow-y: scroll;
    margin-left: 5%;
    max-height: 50vh;
}
p  {
    font-size: inherit !important;
}


.Looop-textarea{
    min-width: 85%;
    resize: none;
    font-size: $standard_size*.75 !important;
    border-radius: 25px;
    background-color: $gray-100;
    border: .1vw solid $gray-300;
}

.Looop_li_filter{
    list-style-type: none;
    padding-left:0;
}
.hl_current {
    color:  $primary !important;
  }
  .cate_tag{
      margin-left: .25vw;
  }
a:hover{
    cursor: pointer;
}

.Looop_underline{
    border-bottom: solid $standard_size*.025 $gray-300;
}

.caption {
    font-weight: bold;
    color: $primary;
    position: absolute;
    top: 20%;
    left :100%;
}
.cropper{
    
  margin-bottom: $standard_size;
}
.Looop_big_profile{
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.upload_row{
    padding-right: 0 !important;
}
.profile-setting{
    min-height: $standard_size*20 !important;
}

.logo_img{
    width: 100%;
    height: auto;
}
.welcome_png{  
    width: $standard_size*10;
    height: auto;
}
.loop_icon_large{
    width : $standard_size* 1.5;
    height: auto;
}
.loop_icon_small{
    width : $standard_size;
    height: auto;
}

.check_box{
    display: none;
}

.check_box:checked + label{
    color: $primary !important;
    background-color: $gray-200;
    border-radius: 5px;
    padding-left: $standard_size * .25;
    padding-right: $standard_size * .25;
}
.icon{
    font-size: $standard_size !important;
}

.loop_edit a span.icon {
    visibility: hidden;
}

.loop_edit:hover a span.icon {
    visibility: visible;
    position: absolute;
}
.notice_badge{
    border: 0;
    padding-left: $standard_size * .5;
    padding-right: $standard_size * .5;
    padding-top: $standard_size * .5;
    border-bottom: solid $standard_size * .025 $gray-200;
}
.notice_badge:hover{
    background-color: $gray-200;

}




