 .hidden{
       display: none;
   }
   .layout{
   }
   .container-fluid{
       padding: 0 !important;
   }
   .loop_col{
       margin-top: 0;
   }
   
   .live_center{
    margin-left: 0;
    margin-right: 0;
    } 
    .welcome_video{
        margin-bottom: 10px;
        width: 100%;
    }
    .sm_reduce_padding_right{
        padding-right: 0 !important;
    }