
$navbar-height : 5vh;
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $gray-200; 
  }
   
.layout{
     background-color: $gray-200;
     height: 100%;
     width: 100%;
     font-size:  1vw!important;
}
.Looop_nav_container{
    padding: 0 !important ;
}
.Looop_navbar{
   // position: fixed;
    width: 100vw;
}
.Looop_navbar, .Looop_navbar_login{
    margin-top: 0 !important;
}

.Looop_navbar_login{
    margin-bottom: 5%;
}


.Looop_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;
    margin-top: 2.5%;
    margin-right: 0;
}
.Looop_col_truc{
    //max-height: 20vh;
}
.Looop_nav_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;

}
.logo_header, .login_form, .signup_input, .login_root {
    padding-left:0 !important; 
}

.logo_title{
    font-size: 2vw !important;
}
.idea_modal{
    height: 15% !important;
}


.ideas_body{
   overflow-y: scroll;
   height: 85vh;
}
.Looop_card
{
    margin-bottom: 2.5vh;
}

.Looop_card_header,.Looop_card_footer{
    background-color: $white !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
}
.Looop_expansion_panel{
    box-sizing: inherit !important;
}
.live_Looop_card{
    min-height: 25%;
    max-height: 25%;
    
    margin-bottom: 10%;
    overflow-y: scroll;
}

.live_center{
    margin-left: 5%;
    margin-right: 5%;
    max-height: 100% !important;
}
h1{
    font-size: 2vw !important;
}
p  {
    font-size: inherit !important;
}

.alert-container{
    //  position: relative;
}
.alert{
    //position: absolute;
}
.Looop-textarea{
    width:100%;
	box-sizing:border-box;
	display:block;
	max-width:100%;
	line-height:1.5;
    font-size: inherit !important;
}

