.loop_button {
	background-color:$secondary;
    color: $white;
    font-size:  1vw !important;
    border-radius:1vw !important;
    border:0 !important;
    box-shadow: .1vw .15vw 0vw 0vw $primary-darker;
}
.loop_button:hover {
	background:linear-gradient(to top, $secondary 5%, $primary 100%);
	background-color: $primary;
}
.loop_button:active {
    // font-size: 2.25vh !important;
    position:relative;
	top:1px;
}

.loop_button_icon{
    font-size: 2vw !important;
}
.icon_col{
    padding:0 !important
}

.profile_tag{
    top: 15%;
    font-size: 70% !important;
    left:85%;
    position: absolute;
}

.navbar_icon{
    font-size: 1.75vw !important;
}
.tag_icon{
    font-size: 2.5vw !important;
}

a{
    text-decoration: none !important;
    color: $gray-600 !important;
}

.message_badge{
    font-size: .70vw;
    background-color: $gray-200;
    margin-bottom: 1vw;
    // margin-right: 1vw;
}
.badge_caption{
    font-weight: bold;
    color: $primary;
}
.loop_input{
    margin-bottom: 1vh;
}



