.loop_button {
	background-color:$secondary;
    color: $white;
    font-size:  1vw !important;
    border-radius:1vw !important;
    border:0 !important;
    box-shadow: .1vw .15vw 0vw 0vw $primary-darker;
}
.loop_button:hover {
	background:linear-gradient(to top, $secondary 5%, $primary 100%);
	background-color: $primary;
}
.loop_button:active {
    // font-size: 2.25vh !important;
    position:relative;
	top:1px;
}

.loop_button_icon{
    font-size: 2vw !important;
}
