.loop_button {
	background-color:$secondary;
    color: $white;
    font-size:  1vw !important;
    border-radius:1vw !important;
    border:0 !important;
    box-shadow: .1vw .15vw 0vw 0vw $primary-darker;
}
.loop_button:hover {
	background:linear-gradient(to top, $secondary 5%, $primary 100%);
	background-color: $primary;
}
.loop_button:active {
    position:relative;
	top:1px;
}

.loop_button_icon{
    font-size: 2vw !important;
}

.icon_col{
    padding-left: 0.25vw !important;
}

.navbar_icon{
    font-size: 1.75vw !important;
}
.tag_icon{
    font-size: 2.5vw !important;
}

a{
    text-decoration: none !important;
    color: $gray-600 !important;
}

.message_badge{
    font-size: .90vw;
    background-color: $gray-100;
    margin-bottom: 1vw;
    border: 0 !important;
    border-radius: 10px;
}
.badge_caption{
    font-weight: bold;
    color: $primary;
}
.loop_input{
    margin-bottom: 1vh;
}
.user_content{
    color: black !important;
}
.upload_modal{
    background-color: $gray-100 !important;
}
.card-body,.card-footer,.card-header{
    border:0 !important ;
}
.signUp{
    margin-bottom: 1vh;
    background-color: $white;
    color: black !important;
}
.img_icon{
    width: 100%;
    height: auto;
}


.active_link:active{
    position: relative;
    top: -3px;
}
.loop_drop_down{
  min-width: 2vw !important;
}
.loop_button_upload{
    margin-bottom:.5vh ;
}




