body { 
    min-height: 100vw;
    overflow-y: scroll !important; 
    overflow-x: scroll !important; 
}
.sm_landscape_height{
       min-height: 105vw;
}
.sm_postion_bottom{
    position: relative !important;
}