/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////whole site
::-webkit-scrollbar {
    width: 0;
  }
  html, body { height: 100%; }
  body 
  { 
      margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
      height: 100vh;
      width: 100vw;
      overflow-y: hidden; 
      overflow-x: hidden; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $gray-200; 
  }
   
.layout{
     background-color: $gray-100;
     height: 100%;
     width: 100%;
     font-size:  $standard_size !important;
     color: $gray-500;
}

.textarea{
    min-width: 85%;
    resize: none;
    font-size: $standard_size*.75 !important;
    border-radius: 25px;
    background-color: $gray-100;
    border: .1vw solid $gray-300;
}
.list_no_bullet{
    list-style-type: none;
    padding-left:0;
}
.hl_current {
    color:  $secondary !important;
  }
.cate_tag{
      margin-left: $standard_size*.25;
      font-size: $standard_size ;
  }
a{
    text-decoration: none !important;
    color: $gray-500;
}
a:hover{
    cursor: pointer;
    color: $secondary !important;
}

.underline{
    border-bottom: solid $standard_size*.025 $gray-300;
}

.caption {
    font-weight: bold;
    color: $primary;
    position: absolute;
    top: 20%;
    left :100%;
}
.loop_button {
	
    color: $gray-600;
    font-size:  $standard_size !important;
    border-radius: $standard_size *.25!important;
    background-color: $white !important;
    border: solid $standard_size*.01 $primary !important;
    box-shadow: 1px 2px 0px 0px $primary-darker;
}
.loop_button:hover {
    background-color: $primary !important;
    color: $white;
}
.loop_button:active {
    position:relative;
	top:3px;
}

.loop_button_icon{
    font-size: $standard_size *2 !important;
}


.loop_button_upload{
    margin-bottom:.5vh ;
}


p{
    white-space: pre-wrap
 }
 
.profile_dropdown {
    min-width: 600px;
}
.reduce_padding_right{
padding-right: 0;
}


.content_img_round{
    width: $standard_size*4;
    border-radius: 50px;
    height: auto;
}

.card-body,.card-footer,.card-header{
    border:0 !important ;
}
.user_content{
    color: black !important;
}
.textarea_icon_container{
    position: relative;
    left: -$standard_size;
    top: -$standard_size*1.50;     
    padding: 0 !important;
}
.textarea_icon{
    z-index: 1000;
    font-size:  $standard_size*1.25;
}
.reduce_padding{
    padding: 0 !important;
}
.img_icon{
    width: $standard_size*1.5;
    height: auto;
}

.fixed__under_navbar{
    position: fixed;
    bottom:$standard_size
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// navbar 
.loop_nav_col{
    padding-left: 0 !important ;
}

.loop_navbar{
    border-bottom: .01vh solid $gray-300;
}

.loop_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;
    margin-top: $standard_size;
    margin-right: 0;
}
 .login_form, .signup_input, .login_root {
    padding-left:0 !important; 
}

.logo_title{
    font-size: $standard_size*1.5!important;
}

.notice_badge{
    border: 0;
    padding-left: $standard_size * .5;
    padding-right: $standard_size * .5;
    padding-top: $standard_size * .5;
    border-bottom: solid $standard_size * .025 $gray-200;
}
.notice_badge:hover{
    background-color: $gray-200;

}

.nav_img{
    width: $standard_size*2;
    height: auto;
}
.nav_img_round{
    width: $standard_size*2;
    border-radius: 25px;
    height: auto;
}
.logo_img{
    width: $standard_size*4;
    height: auto;
}
.navbar_row{
    width: 100%;
}


.active_link:active{
    position: relative;
    top: -3px;
}


/// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////contnet_body
.idea_modal{
    height: 15% !important;
}

.ideas_body{
   overflow-y: scroll;
   height: 90vh;
}
.loop_card
{
    margin-bottom: 2.5vh;
}

.loop_card_header,.loop_card_footer{
    background-color: $white !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
}

.live_loop_card{
    min-height:  $standard_size+180;
    
    margin-bottom:  $standard_size;
}

.live_center{
    margin-left: $standard_size;
    margin-right: $standard_size;
}

.preview {
    width: -webkit-calc(100% + 40px);
    width:    -moz-calc(100% + 40px);
    width:         calc(100% + 40px);
    margin-left: -$standard_size;
    max-height:400px;
}
.message_badge{
    font-size: $standard_size*.9;
    background-color: $gray-100;
    margin-bottom: $standard_size;
    border: 0 !important;
    border-radius:  $standard_size/2;
}
.badge_caption{
    font-weight: bold;
    color: $primary;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////// profile setting


.profile-setting{
    min-height: $standard_size*17 !important;
    }

.cropper{
    
  margin-bottom: $standard_size;
}
.col_fit_profile_pic{
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.welcome_png{  
    width: $standard_size*10;
    height: auto;
}
.loop_icon_large{
    width : $standard_size* 1.5;
    height: auto;
}
.loop_icon_small{
    width : $standard_size*1.25;
    height: auto;
}

.check_box{
    display: none;
}

.check_box:checked + label{
    color: $primary !important;
    background-color: $gray-200;
    border-radius: $standard_size * .25;
    padding-left: $standard_size * .25;
    padding-right: $standard_size * .25;
}

.loop_edit a span.icon {
    visibility: hidden;
}

.loop_edit:hover a span.icon {
    visibility: visible;
    position: absolute;
}

.profile_act_right_col{

    overflow-y: scroll;
    margin-left: $standard_size;
    max-height: 50vh
}
.upload_modal{
    border: 0 !important;
 }

///////////////////////////////////////////////////////////////////////////////////// Welcome page
.signUp{
    margin-bottom: $standard_size;
    background-color: $white;
    color: black !important;
}
.welcome_video{
    width :100%;
    height: auto;
}














