
$navbar-height : 5vh;
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $gray-100; 
  }
   
.layout{
     background-color: $gray-100;
     height: 100%;
     width: 100%;
     font-size:  1vw!important;
}
.Looop_nav_container{
    padding: 0 !important ;
}
.Looop_navbar{
    margin-bottom: 3vh;
    border-bottom: .01vh solid $gray-300;
}

.Looop_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;
    margin-top: 2.5%;
    margin-right: 0;
}
.Looop_col_truc{
    //max-height: 20vh;
}
.Looop_nav_col{
    // border-right: solid .25vh $gray-300;
    padding: 0 !important;

}
 .login_form, .signup_input, .login_root {
    padding-left:0 !important; 
}

.logo_title{
    font-size: 2vw !important;
}
.idea_modal{
    height: 15% !important;
}


.ideas_body{
   overflow-y: scroll;
   height: 95vh;
}
.Looop_card
{
    margin-bottom: 2.5vh;
}

.Looop_card_header,.Looop_card_footer{
    background-color: $white !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
}
.Looop_expansion_panel{
    box-sizing: inherit !important;
}
.live_Looop_card{
    min-height: 25%;
    max-height: 25%;
    
    margin-bottom: 10%;
    overflow-y: scroll;
}

.live_center{
    margin-left: 5%;
    margin-right: 5%;
    max-height: 100% !important;
}
h1{
    font-size: 2vw !important;
}
p  {
    font-size: inherit !important;
}


.Looop-textarea{
    width:100%;
	box-sizing:border-box;
	display:block;
	max-width:100%;
	line-height:1.5;
    font-size: inherit !important;
}
.Looop_li_filter{
    list-style-type: none;
    padding-left:0;
}
.hl_current {
    color: $primary !important;
  }
a:hover{
    cursor: pointer;
    color: $primary !important;
}
.profile-pic{
    font-size: 15vh !important;
}
.Looop_underline{
    border-bottom: solid .1vh;
}

.caption {
    font-weight: bold;
    color: $primary;
    font-size: 2vh;
}
.cropper{
    
  margin-bottom: 2vh;
}
.Looop_big_profile{
  border-radius: 50%;
  border: solid black .1vh;
  width: 100%;
  height: auto;
}
.upload_row{
    padding-right: 0 !important;
}
.image_col{
    max-height: 10vh;
}
.profile-setting{
    min-height: 40vh !important;
}
.Looop_small{
    font-size: .5vw;
}

.logo_img{
    width: 5vw;
    height: auto;
}
.loop_icon{
    width : 1.5vw;
    height: auto;
}
.loop_btn_primary{
    background-color: $primary;
}
.loop_btn_secondary{
    background-color: $primary;
}
.check_box{
    display: none;
}
.check_box + label{
}

.check_box:checked + label{
    background-color: $gray-300;
    color: $primary;
}


