body { 
    min-height: 100vw;
    overflow-y: scroll;
}


.sm_postion_bottom{
    position: relative !important;
}
.sm_center{
    text-align: center;
}
.sm_margin_bottom{
    margin-bottom: $standard_size;
}
.ideas_body{
    overflow-y: scroll;
    height: 100vw;
 }
 .profile_dropdown {
    min-width: 0;
}
.sm_height_big{
    height :100vw;
}
