.loop_button {
	background-color:$secondary;
    color: $white;
    font-size:  1vw !important;
    border-radius:1vw !important;
    border:0 !important;
    box-shadow: .1vw .15vw 0vw 0vw $primary-darker;
}
.loop_button:hover {
	background:linear-gradient(to top, $secondary 5%, $primary 100%);
	background-color: $primary;
}
.loop_button:active {
    // font-size: 2.25vh !important;
    position:relative;
	top:1px;
}

.loop_button_icon{
    font-size: 2vw !important;
}

.profile_tag{
    position: absolute;
    top: 15%;
    left: 85%;
}
.profile_tag_under{
    position: absolute;
    top: 50%;
    left: 85%;
    font-size: 65% !important;
}
.navbar_icon{
    font-size: 1.75vw !important;
}

a{
    text-decoration: none !important;
    color: $gray-600 !important;
}



