
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$loop-primary: mat-palette($mat-indigo);
$loop-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$loop-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$loop-theme: mat-light-theme($loop-primary, $loop-accent, $loop-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($loop-theme);

/* You can add global styles to this file, and also import other style files */

// loop 
@import "./assets/variables";


@import"./assets/loop_default";

/* sm */
@media only screen and  (max-device-width : 991px) {
   @import "./assets/loop_phone_landscape";
}
@media only screen and  (max-device-height: 991px)  and (max-device-width : 400px) {

            
            body { 
                height: 100vw;
                width:100vh;
                overflow-y: scroll; 
                overflow-x: scroll; 
            }
                /* Styles */
    }

/* md */
@media only screen and  (max-device-width : 1199px) {
   
}

/* large */
@media only screen and  (min-device-width : 1200px) {
   
}


















// /* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
//     /* Styles */
   
//     }
    
//     /* Smartphones (portrait) ----------- */
//     @media only screen and (max-width : 320px) {
//     /* Styles */
   
//     }
    
//     /* iPads (portrait and landscape) ----------- */
//     @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
//     /* Styles */
//     }
    
//     /* iPads (landscape) ----------- */
//     @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
//     /* Styles */
//     }
    
//     /* iPads (portrait) ----------- */
//     @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
//     /* Styles */
//     }
//     /**********
//     iPad 3
//     **********/
//     @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
//     /* Styles */
//     }
    
//     @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
//     /* Styles */
//     }
//     /* Desktops and laptops ----------- */
//     @media only screen  and (min-width : 1224px) {
       
//     }
    
//     /* Large screens ----------- */
//     @media only screen  and (min-width : 1824px) {
       
//     }
    
//     // /* iPhone 4 ----------- */
//     // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
//     // /* Styles */
//     // }
    
//     // /* iPhone 5 ----------- */
//     // @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // /* iPhone 6, 7, 8 ----------- */
//     // @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // /* iPhone 6+, 7+, 8+ ----------- */
//     // @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // /* iPhone X ----------- */
//     // @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    
//     // /* iPhone XS Max, XR ----------- */
//     // @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    
//     // /* Samsung Galaxy S3 ----------- */
//     // @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//     // /* Styles */
//     // }
    
//     // /* Samsung Galaxy S4 ----------- */
//     // @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    
//     // /* Samsung Galaxy S5 ----------- */
//     // @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    
//     // @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//     // /* Styles */
//     // }
    


