/* You can add global styles to this file, and also import other style files */

// Looop 
@import "./assets/variables";
@import "./assets/looop";
@import "./assets/loopElements";


html, body { height: 100%; }
body 
{ 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden; 
}