<div class="row loop_col">
  <div class="col-lg-2 col-sm-12 sm_center sm_reduce_padding_right loop_col">
    <legend class="underline">Your Activties</legend>
    <ul class="list_no_bullet" >
      <li  *ngFor="let pos of possible_activities">
        <a *ngIf="current == pos; else non" class="hl_current" (click)="filterActivities(pos)">
          {{pos | titlecase}}
        </a>
        <ng-template #non>
          <a (click)="filterActivities(pos)">
            {{pos | titlecase}}
          </a>
        </ng-template>
      </li>
    </ul>
  </div>

  <div class="loop_col col-lg-9 col-sm-12  sm_reduce_padding_right profile_act_right_col">
    <div *ngIf="ideas.length > 0 ; else empty" >
      <strong >Created {{current | titlecase}}</strong>
      <div *ngFor="let idea of Ideas">
          <app-idea-card id="{{idea.id}}" [username]="profile.username" [idea]="idea"></app-idea-card>
      </div>
  </div>
  <ng-template #empty>
       <legend *ngIf="current; else unsel">
        You Have Yet To Created Any {{current | titlecase}}
       </legend>
       <ng-template #unsel>
          Selected an Activity
       </ng-template>
  </ng-template>
  </div>

</div>